
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to TruYum - Online Food Ordering Application</h2>
<center>
    <ul>
        <li>@Html.ActionLink("View as Admin", "AdminIndex")</li>
        <li>@Html.ActionLink("View as Consumer", "ConsumerIndex")</li>
    </ul>
</center>

