
@{
    ViewBag.Title = "NoItemInCartWarning";
}

<h2>No Item In Cart Warning</h2>
<hr />
<p>There are no items in cart to display. Please go back to food menu and choose a product</p>
@Html.ActionLink("Go back to Menu","ConsumerIndex")

